<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Anuluj" (click)="cancel()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">

  <table class="table" *ngIf="product">
    <td><h4>{{product.name}}</h4></td>
    <td><h4>{{product.categoryName}}</h4></td>
  </table>

  <form id="qtyForm" [formGroup]="qtyForm" (ngSubmit)="addToList(qtyForm)">
    <div class="m-2">
   
      <app-number-input class="quantity" [formControl]="$any(qtyForm.controls['qty'])" [label]="'Podaj Ilość'"></app-number-input>

    </div>
  </form>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" [disabled]="!qtyForm.valid" form="qtyForm" type="submit">Dodaj</button>
  <button class="btn btn-default" (click)="cancel()">{{closeBtnName}}</button>
</div>