<div class="row">
    <div class="alert alert-info pb-0" *ngIf="documentLines && documentLines.length > 0">
        <p><strong>Informacja: </strong>Niezapisane zmiany zostaną utracone po odświeżeniu strony</p>
    </div>
</div>

<div class="row">
    <h1>
        Dodaj towary
    </h1>
</div>

<div class="row">
    <div class="col-sm-2">
        <button class="btn btn-primary listButton" (click)="displayProductListModeChange()" *ngIf="!displayProductListMode">Lista
            towarów</button>
        <button class="btn btn-primary" (click)="displayProductListModeChange()"
            *ngIf="displayProductListMode">Powrót</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-warning listButton" *ngIf="!displayNewProductMode" (click)="displayNewProductModeChange()">Dodaj
            Nowy</button>
        <button class="btn btn-warning" *ngIf="displayNewProductMode"
            (click)="displayNewProductModeChange()">Powrót</button>
    </div>

</div>
<hr>
<div class="row">
    <ng-container *ngIf="!displayProductListMode && !displayNewProductMode">
        <div class="table-responsive">
            <table class="table text-center">
                <thead>
                    <tr class="table-secondary">
                        <th class="col-2">ilość</th>
                        <th class="col-2">nazwa</th>
                        <th class="col-2">s/n</th>
                        <th class="col-2">kategoria</th>
                        <th class="col-2">cena netto</th>
                        <th class="col-2">wartość</th>
                    </tr>
                </thead>
                <tbody class="mb-3" *ngFor="let item of documentLines">
                    <tr (click)="openQtyModal(item.product)">
                        <th>{{item.quantity}}</th>
                        <td>{{item.product.name}}</td>
                        <td>{{item.product.serialNumber}}</td>
                        <td>{{item.product.categoryName}}</td>
                        <td>{{item.product.priceNetto}}</td>
                        <th>{{item.total}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mt-5 text-end">
            <h3>Suma: {{total}}</h3>
        </div>
    </ng-container>
    <ng-container *ngIf="displayProductListMode">
        <app-products-table [showAll]="true" [iconAwesome]="'fa fa-plus'" [actionColumnCaption]="'Dodaj'"
            (buttonAction)="openQtyModal($event)">
        </app-products-table>
    </ng-container>
    <ng-container *ngIf="displayNewProductMode">
        <app-product-create (emitProduct)="openQtyModal($event)" [setBackButton]="false"></app-product-create>
    </ng-container>
</div>
<div class="row mx-5" *ngIf="!displayNewProductMode">
    <div class="text-end m-5">
        <button [disabled]="documentLines && documentLines.length<1" class="btn btn-primary" (click)="listDoneEvent()">
            Dalej
        </button>
    </div>
</div>