<div class="row ">
    <form [formGroup]="passwordChangeForm" (ngSubmit)="passwordChangeForm.valid && changePassword()" autocomplete="off"
        class="mt5">

        <h2 class="text-center text-secondary mt-5">Zmiana hasła</h2>
        <hr>
        <app-text-input [formControl]="$any(passwordChangeForm.controls['oldPassword'])" [label]="'Obecne Hasło'"
        [type]="'password'">
    </app-text-input>
        <app-text-input [formControl]="$any(passwordChangeForm.controls['password'])" [label]="'Nowe Hasło'"
            [type]="'password'">
        </app-text-input>
        <app-text-input [formControl]="$any(passwordChangeForm.controls['confirmPassword'])" [label]="'Potwierdź hasło'"
            [type]="'password'"></app-text-input>

        <div class="row" *ngIf="validationErrors">
            <ul class="text-danger">
                <li *ngFor="let error of validationErrors">
                    {{error}}
                </li>
            </ul>
        </div>

        <div class="text-center mt-2">
            <button [disabled]="!passwordChangeForm.valid" class="btn btn-warning me-2" type="submit">Wyślij</button>
            <button class="btn btn-default me-2" (click)="cancel()" type="button">Anuluj</button>
        </div>
    </form>
</div>