    <div class="row">
        <div class="alert alert-info pb-0" *ngIf="productForm.dirty">
            <p><strong>Informacja: </strong>Niezapisane zmiany zostaną utracone</p>
        </div>
    </div>
   


    <div class="row d-grid col-sm-6" >
         <form [formGroup]="productForm" id="productForm" (ngSubmit)="productForm.valid && addProduct()">
            <div class="mt-2 " >
                <label>Nazwa</label>
                <app-text-input [formControl]="$any(productForm.controls['name'])" 
                [label]="'Nazwa'">
                </app-text-input>

                <div *ngIf="categoryProp?.invalid && productForm.dirty" 
                class="text-danger">Nie wybrano kategorii</div>
                <div class="input-group mb-3">
                        <input id="category" type='text' class="form-control" 
                            placeholder='Wybierz kategorię'
                            aria-label="Wybierz kategorię"
                            aria-describedby="button-category"
                            [formControl]="$any(productForm.controls['categoryName'])" readonly>

                            <button type="button" id="button-category" class="btn btn-outline-secondary" 
                                (click)="openCategoryModal()">Wybierz</button>
                </div>


             <label>Numer seryjny</label>
                <div class="m-2">
                     <app-text-input [formControl]="$any(productForm.controls['serialNumber'])" 
                     [label]="'Numer Seryjny'">
                     </app-text-input>
                </div>

                <div class="m-2">
                   <label>Cena Netto</label>
                   <app-number-input
                   [formControl]="$any(productForm.controls['priceNetto'])" 
                   [label]="'Cena netto'"
                    [step]="'0.25'"    
                   ></app-number-input>
                </div>
                <div class="m-2">
                    <label>Limit minimalny</label>
                    <app-number-input
                    [formControl]="$any(productForm.controls['minLimit'])" 
                    [label]="'Limit minimalny'"
                     [step]="'0.25'"    
                    ></app-number-input>
                </div> 
                <div class="m-2">
                    <label>Uwagi</label>
                    <textarea class="form-control mt-2" 
                        formControlName="description"
                        placeholder="Opis"
                        rows="6"
                        autocomplete="off"></textarea>
                </div>
            </div>
        </form>
    </div>

    <div class="row" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="row mt-3 btn-group float-end">
        <button type="submit" [disabled]="!productForm.dirty || !productForm.valid" form="productForm" class="btn btn-warning m-2">
            Utwórz    
        </button>
        <button *ngIf="setBackButton" type="button" class="btn btn-light m-2" (click)="backButton()">Powrót</button>
    </div>