<div class="container mt-5 pt-5 text-center align-items-center d-block" >
    <h1>Magazyn</h1>
    <p class="lead">Załóż nowe konto, jeżeli go nie posiadasz</p>
    <div class=" ">
        <button (click)="registerToggle()" class="btn btn-success bt-lg me-2">Rejestracja</button>
        <button (click)="forgotToggle()" class="btn btn-dark bt-sm me-2">Przypomnij hasło</button>
    </div>
</div>

<div *ngIf="registerMode" class="container" style="max-width: 400px;">
    <div class="row justify-content-center mt-3 p-3">
            <app-register (cancelRegister)="cancelModes($event)"></app-register>
    </div>
</div>

<div *ngIf="resendMode" class="container" style="max-width: 400px;">
    <div class="row justify-content-center mt-3 p-3">
            <app-resend-email (cancelReSend)="cancelModes($event)"></app-resend-email>
    </div>
</div>
<div *ngIf="forgotMode" class="container" style="max-width: 400px;">
    <div class="row justify-content-center mt-3 p-3">
            <app-forgot-password (cancelForgot)="cancelModes($event)"></app-forgot-password>
    </div>
</div>
<div *ngIf="!resendMode" class="container mt-5 pt-5 text-center align-items-center d-block">
    <a (click)="reSendEmailToggle()" class="btn">Nie dotarł email rejestracyjny? Kliknij tutaj!</a>
</div>