<h1>Magazyn</h1>

<div>
    <table class="table">
        <tr>
        <th>Nazwa</th>
        <th>numer seryjny</th>
        <th>cena Netto</th>
        <th>ilość</th>
        </tr>
        <tr *ngFor="let product of Products">
            <th>{{product.name}}</th>
            <th>{{product.serialNumber}}</th>
            <th>{{product.priceNetto}}</th>
            <th>{{product.quantity}}</th>
        </tr>
</table>
</div>

<div>
    <table class="table">
        <tr>
        <th>Typ</th>
        <th>numer</th>
        <th>Data</th>
        <th>Kontrahent</th>
        <th>Miasto</th>
        </tr>
        <tr *ngFor="let document of Documents">
            <th>{{document.type}}</th>
            <th>{{document.number}}</th>
            <th>{{document.date}}</th>
            <th>{{document.customer.name}}</th>
            <th>{{document.customer.city}}</th>
        </tr>
</table>
</div>