<div class="row ">
<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off" class="mt5">
    <h2 class="text-center text-secondary mt-5">Zarejestruj się</h2>
    <hr>
    <input 
    name="username"
    [(ngModel)]="data.username"
    class="form-control me-sm-2" 
    type="text" 
    placeholder="Nazwa Użytkownika">
<input 
    name="password"
    [(ngModel)]="data.password"
    class="form-control me-sm-2" 
    type="password" 
    placeholder="Hasło">


    <div class="form-group text-center mt-2">
        <button [disabled]='!data' class="btn btn-warning mr-2" type="submit">Zarejestruj</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Anuluj</button>
    </div>
</form>
</div>