<nav ngxNavbarDynamicExpand class="navbar-dark bg-dark">
    <div class="container-fluid mx-3">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Magazyn</a>
        <button class="navbar-toggler" type="button" (click)="collapse.toggle()" aria-controls="main-nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="
            navbar-toggler-icon
            d-flex
            align-items-center
            justify-content-center
          ">
            </span>
        </button>

        <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
<!-- Dashboard -->
            <ul class="navbar-nav me-auto">
                <ng-container *ngIf="accountService.currentUser$ | async">
                    <div class="btn-group" dropdown container="body">
                        <button id="button-Dasboard" dropdownToggle type="button" class="btn btn-dark"
                        routerLink='/dashboard' routerLinkActive='active'
                            aria-controls="button-Dasboard">
                            Dashboard
                        </button>
                    </div>
<!-- Documents -->
                    <div class="btn-group" dropdown container="body">
                        <button id="button-Documents" dropdownToggle type="button" class="btn btn-dark dropdown-toggle"
                            aria-controls="button-Documents">
                            Dokumenty <span class="caret"></span>
                        </button>
                        <ul id="dropdown-DocumentList" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="button-Documents">
                            <li role="menuitem"><a class="dropdown-item" routerLink='/documentsList'
                                    routerLinkActive='active'>
                                    Lista Dokumentów
                                </a></li>
                            <li role="menuitem" dropdown triggers="mouseover"
                                 placement="right" container="body">
                                <a dropdownToggle class="dropdown-item dropdown-toggle" 
                                >Nowy Dokument<span class="caret"></span></a>
                                <ul *dropdownMenu class="dropdown-menu" role="menu">
                                    <li role="menuitem"><a class="dropdown-item" routerLink='/documentsCreate/PZ'
                                            routerLinkActive='active'>
                                            PZ
                                        </a></li>
                                    <li role="menuitem"><a class="dropdown-item" routerLink='/documentsCreate/WZ'
                                            routerLinkActive='active'>
                                            WZ
                                        </a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
<!-- Products -->
                    <div class="btn-group" dropdown container="body">
                        <button id="button-Products" dropdownToggle type="button" class="btn btn-dark dropdown-toggle"
                            aria-controls="dropdown-Products">
                            Produkty <span class="caret"></span>
                        </button>
                        <ul id="dropdown-Products" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="button-Products">
                            <li role="menuitem"><a class="dropdown-item" routerLink='/productsListAll'
                                    routerLinkActive='active'>
                                    Wszystkie Produkty
                                </a></li>    
                                <li role="menuitem"><a class="dropdown-item" routerLink='/productsList'
                                    routerLinkActive='active'>
                                    Mój Stan
                                </a></li>
                            <li role="menuitem"><a class="dropdown-item" routerLink='/productsCreate'
                                    routerLinkActive='active'>
                                    Dodaj Produkt
                                </a></li>
                        </ul>
                    </div>
<!-- Customers -->
                    <div class="btn-group" dropdown container="body">
                        <button id="button-Customer" dropdownToggle type="button" class="btn btn-dark dropdown-toggle"
                            aria-controls="dropdown-Customer">
                            Kontrahenci <span class="caret"></span>
                        </button>
                        <ul id="dropdown-Customer" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="button-Customer">
                            <li role="menuitem"><a class="dropdown-item" routerLink='/customerList'
                                    routerLinkActive='active'>
                                    Lista Kontrahentów
                                </a></li>
                            <li role="menuitem"><a class="dropdown-item" routerLink='/customersCreate'
                                    routerLinkActive='active'>
                                    Dodaj Kontrahenta
                                </a></li>
                        </ul>
                    </div>
<!-- Categories -->
                    <div class="btn-group" dropdown container="body">
                        <button id="button-Category" dropdownToggle type="button" class="btn btn-dark dropdown-toggle"
                            aria-controls="dropdown-Products">
                            Kategorie <span class="caret"></span>
                        </button>
                        <ul id="dropdown-Category" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-Category">
                            <li role="menuitem"><a class="dropdown-item" routerLink='/categoryList' routerLinkActive='active'>
                                    Lista Kategorii
                                </a></li>
                            <li role="menuitem"><a class="dropdown-item" routerLink='/categoryCreate' routerLinkActive='active'>
                                    Nowa kategoria
                                </a></li>
                        </ul>
                    </div>

                </ng-container>
            </ul>

            <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
                <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle>Welcome
                    {{user.username}}</a>
                <div class="dropdown-menu mt-3" *dropdownMenu>
                    <a class="dropdown-item" routerLink="/editProfile">Edit Profile</a>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>

        </ngx-navbar-collapse>
        <ng-container>
            <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex mt-2 mt-md-0"
                (ngSubmit)="login()" autocomplete="off">
                <input name="email" [(ngModel)]="model.email" class="form-control me-sm-2" type="text"
                    placeholder="Email">
                <input name="password" [(ngModel)]="model.password" class="form-control me-sm-2" type="password"
                    placeholder="Password">
                <button class="btn btn-light my-2 my-sm-0" type="submit">Login</button>
            </form>
        </ng-container>
    </div>
</nav>