<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Anuluj" (click)="cancel()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="m-1">
       <button *ngIf="!newCategory" class="btn btn-secondary" type="button" (click)="changeMode()">Dodaj Nową</button>
       <button *ngIf="newCategory" class="btn btn-secondary" type="button" (click)="changeMode()">Wróć do listy</button>
      </div>
        <app-create-category *ngIf="newCategory" (CategoryEvent)="categoryChosen($event)" (backButtonEvent)="cancel()"></app-create-category>
        <app-list-category *ngIf="!newCategory" (categoryEvent)="categoryChosen($event)"></app-list-category>
  
  </div>
