<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Anuluj" (click)="cancel()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">

        <app-list-category (categoryEvent)="categoryChosen($event)"></app-list-category>
  
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" (click)="cancel()">{{closeBtnName}}</button>

  </div>