<div class="row">
    <ng-container *ngIf="displayLinesMode">
        <app-document-create-lines (listDone)="setDocumentLines($event)" 
        [lines]="documentLines"></app-document-create-lines>
    </ng-container>

    <ng-container *ngIf="displayCustomerMode">
        <app-document-create-header (backButtonEvent)="displayModeChange()" 
        (setCustomerEvent)="setCustomer($event)"
        [type]="type"
        [number]="number"
        (headerDoneEvent)="sendDocument($event)"
         ></app-document-create-header>
    </ng-container>
</div>
